@use "@shared/styles/variables" as *;

.ratingBadge {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(var(--badgeColor), 0.2);
  color: var(--badgeColor);
  border: 1px solid var(--badgeColor);
  font-size: 0.75rem;
  font-weight: bold;
}
