$default: #f8f9fa;

$neutrals-lightest: #f0f0f2;
$neutrals-extra-light: #e0e2e6;
$neutrals-light: #c0c2c8;
$neutrals-medium: #9ea0a5;
$neutrals-dark: #7f8185;
$neutrals-extra-dark: #5e5f63;
$neutrals-darkest: #202122;

$primary-light: #0b0e3a;
$primary-medium: #060725;
$primary-dark: #020318;

$secondary-light: #ef4c84;
$secondary-medium: #d31450;
$secondary-dark: #8c1038;
$secondary-medium-opacity: #d314502b;

$accent-light: #00bfc1;
$accent-medium: #009598;
$accent-dark: #006c6e;
