:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 36px;
  line-height: 130%;
  font-weight: bold;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-size: 20px;
  line-height: 130%;
  font-weight: bold;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.large {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
}

.small {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
}

.caption {
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
}

.container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 0 16px;

  @media (max-width: 600px) {
    padding: 0 8px;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
