@use "@shared/styles/variables" as *;

.cardInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cardInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.divisor {
  color: $secondary-medium;
}

.genresContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
  align-content: flex-end;
  align-items: flex-end;
  align-self: end;
  flex: 1;
}
