@use "@shared/styles/variables" as *;



.wrapper {
  --width-card: 310px;
  border-radius: 8px;
  width: var(--width-card);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  max-height: 500px;

  &:hover {
    transform: translateY(-4px);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.cardHeader {
  width: 100%;
  height: 196px;
  display: flex;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 8px 8px 0 0;
}

.cardBody {
  width: var(--width-card);
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  border: solid 1px $neutrals-extra-light;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
  box-sizing: border-box;
  flex-direction: column;

  & .synopsis {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

.cardInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cardInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.divisor {
  color: $secondary-medium;
}

.genresContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
  align-content: flex-end;
  align-items: flex-end;
  align-self: end;
  flex: 1;
}
