
@use "@shared/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110%;
}

.title {
  align-self: flex-start;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(300px));
  gap: 8px;
  width: 100%;
  justify-content: flex-start;
}

.seeMore {
  border: 1px solid;
  padding: 15px;
  border-radius: 8px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  background-color: $primary-light;
  color: $neutrals-lightest;

  &:hover {
    cursor: pointer;
    background-color: $primary-medium;
  }
}

.horizontalCard {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 300px;

  > div:first-child {
    width: auto;
    height: 196px;
    

    img {
      border-radius: 8px 0 0 8px;
    }
  }

  > div:last-child {
    height: 100%;
    border-radius: 0 8px 8px 0;
    border-top: 1px solid $neutrals-extra-light;
    border-left: 0;
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;

  .small {
    font-size: 12px;
  }

  .scoreContainer {
    display: flex;
    align-items: flex-start;
    gap: 4px;
  }

  .airedContainer {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}